
*,*:focus,*:hover{
    outline:none;
}

.cursor-pointer {
    cursor: pointer;
}

.groupable-table tr {
    position: relative;
}

.groupable-table td {
    transition: font-size .3s, padding .3s linear; 
}

.font-size-0 {
    font-size: 0;
    padding: 0 !important;
}

.font-size-normal {
    font-size: .75rem;
}

.groupable-table .dropdown-icon {
    transition: transform .4s;
    -webkit-transition: transform .4s;
    -ms-transistion: transform .4s;
}

.groupable-table .editable-label input {
    border: none;
    border-bottom: 2px solid #9bc3b7;
    width: 100%;
}

.flip {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.groupable-table .row-adorner {
    border: 1px solid #dee2e6;
    background: #fff;
}

.groupable-table .row-dragging {
    background: #dee2e6;
}

.groupable-table .drop-hover {
    background: #9bc3b7;
}