.btn {
    cursor: pointer;
}

.file-input-drop {
    border: 2px dashed #ced4da;
    width: 100%;
    color: #495057;
    display: flex;
    align-content: center;
    justify-content: center;
}

.file-input-drop p {
    margin: 10px;
}

.file-input-drop-over {
    color: white;
    background: #495057;
}

.file-input-preview {
    border: 1px solid #ced4da;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    float: left;
}

.file-input-preview .file-input-preview-item {
    width: auto;
    max-width: 300px;
    min-width: 230px;
    height: 150px;
    border: 1px solid #ced4da;
    color: #495057;
    float: left;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin: 5px;
}

.file-input-preview .file-input-preview-item .file-input-preview-item-name {
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding: 5px;
    float: left;
    max-width: 100%;
    position: absolute;
    bottom: 10px;
    background: white;
    opacity: .75;
}

.file-input-preview .file-input-preview-item .file-input-preview-item-icon {
    max-width: 100%;
    position: relative;
    max-height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.file-input-preview .file-input-preview-item .file-input-preview-item-icon img {
    /* top: 10px; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    height: 100%;
    width: auto;
}

.file-input-preview .file-input-preview-item .file-input-preview-item-close {
    position: absolute;
    right: 10px;
    top: 6px;
    z-index: 1000;
}

.file-input-wrapper .form-control[readonly=readonly] {
    background: #fff;
}