textarea:focus, input:focus, button:focus {
    outline: none;
}

th {
    border: 1px solid gray;
}

th.sortable:hover {
    cursor: pointer;
    user-select: none;
}

th.sortable:hover .datagrid-header-icon {
    color: #5EA290;
}

.datagrid-header-icon:hover {
    cursor: pointer;
}

.filter-row td {
    vertical-align: middle;
}

.action-icon:hover {
    cursor: pointer;
    color: gray;
}

.action-icon-active {
    color: #5EA290;
}

.dropdown-item-switch {
    display: flex;
    justify-content: space-between;
}

.table-drag-helper {
    background: white;
    opacity: .8;
}

th.placeholder, td.placeholder {
    background: lightgray !important;
    border: none !important;
}

.grip-icons {
    color: #495057;
}

.grip-icons:hover {
    cursor: grab;
}