html, body {
    height: 100%;
}

textarea:focus, input:focus, button:focus {
    outline: none;
}

th {
    border: 1px solid gray;
}

th.sortable:hover {
    cursor: pointer;
    user-select: none;
}

th.sortable:hover .datagrid-header-icon {
    color: #5EA290;
}

.datagrid-header-icon:hover {
    cursor: pointer;
}

.filter-row td {
    vertical-align: middle;
    padding: .5rem .3rem;
}

.action-icon:hover {
    cursor: pointer;
    color: gray;
}

.action-icon-active {
    color: #5EA290;
}

.dropdown-item-switch {
    display: flex;
    justify-content: space-between;
}

.table-drag-helper {
    background: white;
    opacity: .8;
}

th.placeholder, td.placeholder {
    background: lightgray !important;
    border: none !important;
}

.grip-icons {
    color: #495057;
}

.grip-icons:hover {
    cursor: grab;
}

.datagrid-header-sticky {
    position: sticky;
    top: 0;
}

.datagrid-clickable-row:hover {
    background: lightgray;
}

.datagrid-search-input {
    font-size: .7rem;
    padding: .1rem .2rem;
}

.datagrid-action-cell {
    text-align: right;
    width: auto !important;
}

.datagrid-action-cell .btn {
    width: 45px;
    margin: 2px;
}

/* CONTEXT MENU */
.context-menu {
    position: absolute;
}

.context-menu-item-active {
    background: #f8f9fa;
}

.dropdown-item-switch {
    user-select: none;
    -webkit-user-select: none;
}